body {
    display: flex;
    justify-content: center;
}

#calculator {
    display: grid;
    width: 350px;
    height: 480px;
    margin-top: 60px;
    border: 1px solid;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "screen screen screen screen"
    "screen screen screen screen"
    "clear plus-minus percent divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero dot equals";
}

.calcBtn {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    /* to make calculator btn text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funcBtn {

}

.operateBtn {

}

.numBtn {

}

#screen {
    grid-area: screen;
    margin: auto;
    font-size: 2em;
}

#clear {
    grid-area: clear;
}

#plus-minus {
    grid-area: plus-minus;
}

#percent {
    grid-area: percent;
}

#divide {
    grid-area: divide;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#multiply {
    grid-area: multiply;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#subtract {
    grid-area: subtract;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#add {
    grid-area: add;
}

#zero {
    grid-area: zero;
    border-bottom-left-radius: 10px;
}

#dot {
    grid-area: dot;
}

#equals {
    grid-area: equals;
    border-bottom-right-radius: 10px;
}